# Ignore the actual buildroot source code (we clone it in docker)
buildroot/
buildroot-2023.02.9.tar.gz
testing/dts_includes/
testing/suniv-f1c100s-custom-audio-board.dtb
# Ignore build artifacts and images
output/
build-output/
dl/
dl_cache/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Docker build contexts if any (optional)
.dockerignore