/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
    model = "F1C100s Custom FM Radio Board";
    compatible = "custom,f1c100s-radio", "allwinner,suniv-f1c100s";

    aliases {
        serial0 = &uart0;
        mmc0 = &mmc0;
    };

    chosen {
        stdout-path = "serial0:115200n8";
    };

    /* DMA Controller (Required for Audio) */
    dma: dma-controller@1c02000 {
        compatible = "allwinner,suniv-f1c100s-dma";
        reg = <0x01c02000 0x1000>;
        interrupts = <18>;
        clocks = <&ccu 14>;
        resets = <&ccu 6>;
        #dma-cells = <2>;
    };

    /* Internal Codec (Analog) */
    codec: codec@1c23c00 {
        compatible = "allwinner,suniv-f1c100s-codec", "allwinner,sun4i-a10-codec";
        reg = <0x01c23c00 0x400>;
        interrupts = <21>;
        clocks = <&ccu 29>, <&ccu 65>;
        clock-names = "apb", "codec";
        resets = <&ccu 39>;
        dmas = <&dma 0 12>, <&dma 0 12>;
        dma-names = "rx", "tx";
        status = "okay";
    };

    /* I2S/Digital Audio Controller */
    daudio0: i2s@1c22000 {
        compatible = "allwinner,suniv-f1c100s-i2s", "allwinner,sun4i-a10-i2s";
        reg = <0x01c22000 0x400>;
        clocks = <&ccu 33>, <&ccu 47>;
        clock-names = "apb", "mod";
        resets = <&ccu 34>;
        dmas = <&dma 0 3>, <&dma 0 3>;
        dma-names = "rx", "tx";
        pinctrl-names = "default";
        pinctrl-0 = <&daudio0_pd_pins>;
        status = "okay";
    };

    max98357a: max98357a {
        compatible = "maxim,max98357a";
        #sound-dai-cells = <0>;
    };

    sound_i2s {
        compatible = "simple-audio-card";
        simple-audio-card,name = "F1C100s-Speaker";
        simple-audio-card,format = "i2s";
        simple-audio-card,bitclock-master = <&cpu_dai>;
        simple-audio-card,frame-master = <&cpu_dai>;

        cpu_dai: simple-audio-card,cpu {
            sound-dai = <&daudio0>;
        };

        codec_dai: simple-audio-card,codec {
            sound-dai = <&max98357a>;
        };
    };

    gpio-keys {
        compatible = "gpio-keys";
        autorepeat;

        button-b1 {
            label = "B1";
            linux,code = <59>;
            gpios = <&pio 3 2 GPIO_ACTIVE_LOW>;
        };
        button-b2 {
            label = "B2";
            linux,code = <60>;
            gpios = <&pio 3 3 GPIO_ACTIVE_LOW>;
        };
        button-b3 {
            label = "B3";
            linux,code = <61>;
            gpios = <&pio 3 4 GPIO_ACTIVE_LOW>;
        };
        button-b4 {
            label = "B4";
            linux,code = <62>;
            gpios = <&pio 3 5 GPIO_ACTIVE_LOW>;
        };
        button-b5 {
            label = "B5";
            linux,code = <63>;
            gpios = <&pio 3 6 GPIO_ACTIVE_LOW>;
        };
        button-b6 {
            label = "B6";
            linux,code = <64>;
            gpios = <&pio 3 7 GPIO_ACTIVE_LOW>;
        };
        button-b7 {
            label = "B7";
            linux,code = <65>;
            gpios = <&pio 3 15 GPIO_ACTIVE_LOW>;
        };
        button-b8 {
            label = "B8";
            linux,code = <66>;
            gpios = <&pio 3 16 GPIO_ACTIVE_LOW>;
        };
        button-b9 {
            label = "B9";
            linux,code = <67>;
            gpios = <&pio 3 17 GPIO_ACTIVE_LOW>;
        };
        button-b10 {
            label = "B10";
            linux,code = <68>;
            gpios = <&pio 3 18 GPIO_ACTIVE_LOW>;
        };
        button-b11 {
            label = "B11";
            linux,code = <69>;
            gpios = <&pio 3 19 GPIO_ACTIVE_LOW>;
        };
    };
};

/soc/i2c@1c27000 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c0_pe_pins>;
    status = "okay";

    si4703: fm-radio@10 {
        compatible = "silabs,si470x";
        reg = <0x10>;
        reset-gpios = <&pio 3 0 1>;
        interrupt-parent = <&pio>;
        interrupts = <3 1 2>;
        status = "okay";
    };
};

&mmc0 {
    pinctrl-names = "default";
    pinctrl-0 = <&mmc0_pins>;
    bus-width = <4>;
    broken-cd;
    status = "okay";
};

&uart0 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart0_pe_pins>;
    status = "okay";
};

&pio {
    daudio0_pd_pins: daudio0-pd-pins {
        pins = "PD8", "PD9", "PD11";
        function = "i2s";
        bias-disable;
    };

    i2c0_pe_pins: i2c0-pe-pins {
        pins = "PE11", "PE12";
        function = "i2c0";
        bias-pull-up;
    };
};