/dts-v1/;

/ {
	model = "F1C100s Custom Audio Board";
	compatible = "custom,audio-board", "allwinner,suniv-f1c100s";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&intc>;

	aliases {
		serial0 = &uart0;
		i2c0 = &i2c0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/* Regulator: Fixed 3.3V */
	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	/* MAX98357A External Amplifier */
	max98357a: max98357a {
		compatible = "maxim,max98357a";
		#sound-dai-cells = <0>;
	};

	/* Sound Card Configuration */
	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "F1C100s-MAX98357A";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <512>;
		
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;

		dailink_master: simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&max98357a>;
		};
	};

	/* SOC DEFINITIONS */
	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* Interrupt Controller */
		intc: interrupt-controller@1c20400 {
			compatible = "allwinner,suniv-f1c100s-ic";
			reg = <0x01c20400 0x400>;
			interrupt-controller;
			#interrupt-cells = <1>;
		};

		/* Clock Control Unit */
		ccu: clock@1c20000 {
			compatible = "allwinner,suniv-f1c100s-ccu";
			reg = <0x01c20000 0x400>;
			clocks = <&osc24M>;
			clock-names = "hosc";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		/* Pin Controller (PIO) */
		pio: pinctrl@1c20800 {
			compatible = "allwinner,suniv-f1c100s-pinctrl";
			reg = <0x01c20800 0x400>;
			interrupts = <38>, <39>, <40>;
			
			/* CLOCKS: CLK_BUS_PIO (19), osc24M, osc32k */
			clocks = <&ccu 19>, <&osc24M>, <&osc32k>;
			clock-names = "apb", "hosc", "losc";
			gpio-controller;
			interrupt-controller;
			#interrupt-cells = <3>;
			#gpio-cells = <3>;

			/* Pin Groups */
			uart0_pe_pins: uart0-pe-pins {
				pins = "PE0", "PE1";
				function = "uart0";
			};

			i2c0_pe_pins: i2c0-pe-pins {
				pins = "PE8", "PE9";
				function = "i2c0";
				bias-pull-up;
			};

			i2s0_pe_pins: i2s0-pe-pins {
				pins = "PE11", "PE12", "PE13";
				function = "i2s";
			};
		};

		/* UART0 */
		uart0: serial@1c25000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x01c25000 0x400>;
			interrupts = <1>;
			reg-shift = <2>;
			reg-io-width = <4>;
			/* CLK_BUS_UART0 (20) */
			clocks = <&ccu 20>;
			/* RST_BUS_UART0 (6) */
			resets = <&ccu 6>;
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pe_pins>;
		};

		/* I2C0 */
		i2c0: i2c@1c27000 {
			compatible = "allwinner,suniv-f1c100s-i2c", "allwinner,sun6i-a31-i2c";
			reg = <0x01c27000 0x400>;
			interrupts = <7>;
			/* CLK_BUS_I2C0 (24) */
			clocks = <&ccu 24>;
			/* RST_BUS_I2C0 (11) */
			resets = <&ccu 11>;
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_pe_pins>;

			/* FM Radio */
			si4703: fm-radio@10 {
				compatible = "silabs,si470x";
				reg = <0x10>;
				/* Reset: Port 4 (PE), Pin 10, Active Low (1) */
				reset-gpios = <&pio 4 10 1>; 
			};
		};

		/* I2S0 */
		i2s0: i2s@1c22000 {
			compatible = "allwinner,suniv-f1c100s-i2s", "allwinner,sun4i-a10-i2s";
			reg = <0x01c22000 0x400>;
			interrupts = <28>;
			/* CLK_BUS_I2S0 (22), CLK_I2S0 (47) */
			clocks = <&ccu 22>, <&ccu 47>;
			clock-names = "apb", "mod";
			/* RST_BUS_I2S0 (9) */
			resets = <&ccu 9>;
			dmas = <&dma 3>, <&dma 3>;
			dma-names = "rx", "tx";
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2s0_pe_pins>;
		};

		/* DMA Controller */
		dma: dma-controller@1c02000 {
			compatible = "allwinner,suniv-f1c100s-dma";
			reg = <0x01c02000 0x1000>;
			interrupts = <18>;
			/* CLK_BUS_DMA (6) */
			clocks = <&ccu 6>;
			/* RST_BUS_DMA (4) */
			resets = <&ccu 4>;
			#dma-cells = <1>;
		};
	};

	/* Root Clocks */
	osc24M: osc24M_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "osc24M";
	};

	osc32k: osc32k_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		clock-output-names = "osc32k";
	};
};
