// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * F1C100s Device Tree - Custom Configuration
 * Fix: Explicitly defines DMA controller to ensure 'dma' label exists.
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "sunxi-common-regulators.dtsi"

/ {
	model = "Custom F1C100s Board";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
		i2c0 = &i2c0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	/* INTERNAL AUDIO CARD */
	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "F1C100s-Internal-Audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,frame-master = <&link_codec>;
		simple-audio-card,bitclock-master = <&link_codec>;
		simple-audio-card,mclk-fs = <512>;
		
		simple-audio-card,widgets =
			"Headphone", "Headphone Jack",
			"Microphone", "Microphone Jack";
		
		simple-audio-card,routing =
			"Headphone Jack", "HP",
			"Headphone Jack", "HPCOM",
			"MIC", "Microphone Jack";

		simple-audio-card,cpu {
			sound-dai = <&codec>;
		};

		link_codec: simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

	/* GPIO KEYS */
	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;

		button-b1 {
			label = "B1";
			linux,code = <KEY_F1>;
			gpios = <&pio 3 2 GPIO_ACTIVE_LOW>;
		};
		button-b2 {
			label = "B2";
			linux,code = <KEY_F2>;
			gpios = <&pio 3 3 GPIO_ACTIVE_LOW>;
		};
		button-b3 {
			label = "B3";
			linux,code = <KEY_F3>;
			gpios = <&pio 3 4 GPIO_ACTIVE_LOW>;
		};
		button-b4 {
			label = "B4";
			linux,code = <KEY_F4>;
			gpios = <&pio 3 5 GPIO_ACTIVE_LOW>;
		};
		button-b5 {
			label = "B5";
			linux,code = <KEY_F5>;
			gpios = <&pio 3 6 GPIO_ACTIVE_LOW>;
		};
		button-b6 {
			label = "B6";
			linux,code = <KEY_F6>;
			gpios = <&pio 3 7 GPIO_ACTIVE_LOW>;
		};
		button-b7 {
			label = "B7";
			linux,code = <KEY_F7>;
			gpios = <&pio 3 15 GPIO_ACTIVE_LOW>;
		};
		button-b8 {
			label = "B8";
			linux,code = <KEY_F8>;
			gpios = <&pio 3 16 GPIO_ACTIVE_LOW>;
		};
		button-b9 {
			label = "B9";
			linux,code = <KEY_F9>;
			gpios = <&pio 3 17 GPIO_ACTIVE_LOW>;
		};
		button-b10 {
			label = "B10";
			linux,code = <KEY_F10>;
			gpios = <&pio 3 18 GPIO_ACTIVE_LOW>;
		};
		button-b11 {
			label = "B11";
			linux,code = <KEY_F11>;
			gpios = <&pio 3 19 GPIO_ACTIVE_LOW>;
		};
	};

	/* SOC Block */
	soc {
		/* * FIX: We re-declare the DMA controller here to ensure the 
		 * label 'dma' is defined and visible to the codec node below.
		 */
		dma: dma-controller@1c02000 {
			compatible = "allwinner,suniv-f1c100s-dma";
			reg = <0x01c02000 0x1000>;
			interrupts = <18>;
			clocks = <&ccu CLK_BUS_DMA>;
			resets = <&ccu RST_BUS_DMA>;
			#dma-cells = <2>;
		};

	
	};
};

/* FM Radio */
&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";

	si4703: radio@11 {
		compatible = "silabs,si470x";
		reg = <0x11>; 
		reset-gpios = <&pio 3 0 GPIO_ACTIVE_LOW>; 
		interrupt-parent = <&pio>;
		interrupts = <3 1 IRQ_TYPE_EDGE_FALLING>; 
	};
};

&codec {
	allwinner,audio-routing =
		"Headphone", "HP",
		"Headphone", "HPCOM",
		"LINEIN", "Line In",
		"MIC", "Mic";
	status = "okay";
};

/* SD Card */
&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	broken-cd;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&lradc {
	status = "disabled";
};